{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="home-container">
    <div class="home-header">
        <h4>Lite Driver</h4>
        <div class="img-box">
            <img src="{{ url_for('static', path='icons/avatar.png') }}" alt="Avatar Image" />
        </div>
    </div>
    <a href="/login" class="google-btn">
        <div class="google-icon">
            <i class="fab fa-google"></i>
        </div>
        <span class="btn-text"> Sign in with Gmail</span>
    </a>
</div>
{% endblock %}